<style>
body {
  margin:0;
}
  a {
    color:black;
    text-decoration: none;
  }
  h1 {
    font-size: 45px;
    text-align: center;
    text-shadow: 3px 2px #ff0000;
    border-bottom:3px solid gray;
    margin:0;
    padding:20px;
  }
  #grid ol {
    border-right:3px solid gray;
    width:80px;
    margin:0;
    padding:20px;
    padding-left:33px;
  }
  #grid{
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  #grid #article{
    padding-left: 20px;
  }
  @media(max-width:800px){
    #grid{
      display: block;
    }
    #grid ol{
      border-right:none;
    }
    h1{
      border-bottom:none;
    }
  }
</style>
